        /* CSS Document */
        
        body {
            font-family: 'Yantramanav', sans-serif;
            font-weight: 400;
            transition: background-color .5s;
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 20px;
        }
        
        #header {
            background-color: #f9560d;
            height: 60px;
        }
        
        .mc-wrapper {
            padding: 14px 5px 13px 5px;
        }
        
        #header .fa {
            color: #fff;
            cursor: pointer;
            font-size: 26px;
        }
        /****************** MENU *********************/
        
        #menu,
        #nav-icon-search {
            display: none;
        }
        
        #nav-icon,
        #nav-icon-search {
            width: 30px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            margin-top: 4px;
            z-index: 1000;
            height: 25px;
        }
        
        #nav-icon span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #fff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        
        #nav-icon-search span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #fff;
            border-radius: 9px;
            opacity: 1;
            right: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        
        #nav-icon span:nth-child(1),
        #nav-icon-search span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        
        #nav-icon span:nth-child(2),
        #nav-icon-search span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        
        #nav-icon span:nth-child(3),
        #nav-icon-search span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }
        /*
#nav-icon.open {
    position: fixed;
}*/
        
        #nav-icon.open span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: -2px;
            left: 6px;
        }
        
        #nav-icon.open span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }
        
        #nav-icon.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 20px;
            left: 6px;
        }
        
        #nav-icon-search.open span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: -2px;
            right: -8px;
        }
        
        #nav-icon-search.open span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }
        
        #nav-icon-search.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 20px;
            right: -8px;
        }
        
        .main-menu {
            background-color: #f4f6f7;
            width: 100%;
            top: 60px;
            left: 0;
            z-index: 10;
            border-bottom: #d9e0e3 1px solid;
        }
        
        .main-menu ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        
        .main-menu ul li {
            font-size: 18px;
            text-align: center;
            font-weight: 400;
            margin: 0 10%;
            border-bottom: #d9e0e3 1px solid;
        }
        
        .main-menu ul li:last-child {
            border-bottom: none;
        }
        
        .main-menu ul li a {
            color: #212b31;
            padding: 20px 0;
            display: block;
            text-decoration: none;
        }
        
        .main-menu ul li a.active,
        .main-menu ul li a:hover {
            /* #eb5b20*/
            color: #f9560d;
        }
        
        .menu-thread-title {
            height: 60px;
            line-height: 60px;
            text-transform: uppercase;
            border-bottom: #d9e0e3 1px solid;
            border-top: #d9e0e3 1px solid;
            background-color: white;
            text-align: center;
            color: #52646d;
            letter-spacing: 1px;
        }
        
        #Ad {
            height: auto;
            overflow: hidden;
            background-color: #fff;
            margin: 10px 0;
            text-align: center;
        }
        
        #Ad img {
            width: 100%;
            max-width: 480px;
        }
        
        .custom-nav-tabs {
            background-color: #fff;
            padding: 20px;
            border-top: 1px solid #d9e0e3;
        }
        
        .custom-nav-tabs>li {
            margin: 0 15px;
        }
        
        .custom-nav-tabs>li>a {
            color: #000;
            padding: 0;
            border: none;
        }
        
        .custom-nav-tabs>li.active>a,
        .custom-nav-tabs>li.active>a:focus,
        .custom-nav-tabs>li.active>a:hover {
            color: #f9560d;
            cursor: default;
            border: none;
            background-color: transparent;
        }
        
        .custom-nav-tabs>li>a:focus,
        .custom-nav-tabs>li>a:hover {
            color: #f9560d;
            background-color: transparent;
        }
        /****************** SEARCH *********************/
        
        .search-form-container {
            background-color: white;
        }
        
        form#search-form {
            display: none;
        }
        
        form#search-form {
            width: 100%;
            background-color: #f4f6f7;
            padding: 30px 20px;
            border-bottom: #d9e0e3 1px solid;
            z-index: 1001;
            position: relative;
        }
        
        button.search-btn {
            background: none;
            border: none;
            color: #f9560d;
            padding-right: 0;
            position: absolute;
            right: 25px;
            top: 5px;
            border-radius: 4px;
        }
        
        input.sb-search-input:focus,
        input.sb-search-input:active {
            border: 1px solid #A0AAAE;
        }
        
        button.search-btn .fa {
            font-size: 22px;
            padding: 5px;
            cursor: pointer;
        }
        
        form#search-form .fa-times {
            font-size: 20px;
            color: #fff;
            padding: 8px;
        }
        
        .sb-search-input {
            width: 100%;
            height: 46px;
            border: 1px solid #cdd4d8;
            font-size: 14px;
            box-shadow: 0px 1px 2px rgba(121, 121, 121, 0.1);
            outline: none;
            transition: all 0.5s linear;
            text-indent: 15px;
        }
        /*********** Helper Classes ************/
        
        #sticky-arrow {
            position: fixed;
            bottom: 90px;
            width: 100%;
            right: 10px;
            opacity: 1;
            z-index: 100;
        }
        
        .sticky-arrow a {
            background-color: white;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            display: block;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
            float: right;
            color: #97A2A8;
            text-align: center;
            line-height: 35px;
        }
        
        .sticky-arrow a:hover,
        .sticky-arrow a:active {
            color: #f9560d;
        }
        
        .sticky-arrow a.arrow-up {
            display: none;
        }
        
        .spacer-20px {
            padding: 20px;
        }
        
        .position-relative {
            position: relative;
        }
        
        .no-margin {
            margin: 0;
        }
        
        .no-padding {
            padding: 0;
        }
        
        a.default-link,
        .default-link a {
            color: #7d7d7c;
            text-decoration: underline;
        }
        
        a.default-link:hover,
        .default-link a:hover {
            color: #006a9d;
            text-decoration: underline;
        }
        
        .default-btn,
        .default-btn a {
            background-color: #f9560d;
            color: #fff;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 4px;
            display: inline-block;
            border: none;
        }
        
        .default-btn:hover {
            background-color: #565654;
            color: #fff;
        }
        
        .blue-button,
        .blue-button:focus,
        .blue-button:active {
            background-color: #f9560d;
            color: #fff;
            padding: 5px 15px;
            text-decoration: none;
            border-radius: 4px;
            display: inline-block;
            border: none;
        }
        
        .blue-button:hover {
            color: #fff;
            text-decoration: none;
        }
        
        .blue-button.active {
            background-color: #7c7d7e;
        }
        
        .border_bottom_1px {
            border-bottom: 1px solid #ccc;
        }
        /***** PROPERTY THUMBNAIL ************/
        
        .mc-property-overview {
            color: #fff;
            height: 380px;
        }
        
        .overlay {
            background: rgba(59, 73, 80, 0.8);
            z-index: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
        
        .property-thumbnail {
            overflow: hidden;
            width: 100%;
            z-index: -1;
            height: 380px;
            position: absolute;
        }
        
        .property-thumbnail img {
            height: 100%;
        }
        
        .property-title-date h1 {
            font-size: 34px;
            padding: 10px 0 15px 0;
            margin: 0;
            font-weight: 400;
        }
        
        .property-title-date .date {
            /* line-height: 46px; */
        }
        
        .dropdown-custom {
            margin-top: 12px;
        }
        
        a.more-menu,
        a.more-menu-thread {
            padding: 0 5px;
            color: rgba(255, 255, 255, 0);
        }
        
        a.more-menu span,
        a.more-menu-thread span {
            background-color: #ABB6BC;
            border-radius: 50%;
            width: 7px;
            display: inline-block;
            height: 7px;
            margin: 0px 1px;
        }
        
        .dropup.open .more-menu span {
            background-color: #fff;
        }
        
        .dropup.open .more-menu-thread span {
            background-color: #52646d;
        }
        
        .dropup.open .more-menu {
            /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .5);*/
            padding: 0 5px;
            border-radius: 4px;
        }
        
        .dropup-custom {
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: auto;
            padding: 5px 0;
            margin: 2px 0 0;
            text-align: left;
            font-size: 15px;
            list-style: none;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        }
        
        .dropdown-backdrop {
            position: inherit;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 990;
        }
        
        .dropdown-menu-thread {
            right: 0;
            min-width: auto;
        }
        
        .css-shapes-arrow {
            position: absolute;
            right: 12px;
            bottom: -5px;
            height: 0px;
            width: 0px;
            border-top: 8px solid #fff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
        
        .dropup-custom>ul {
            margin: 3px 0;
        }
        
        .dropup-custom>li {
            text-align: center;
        }
        
        .dropup-custom>li>a {
            display: block;
            padding: 3px 10px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            text-decoration: none;
        }
        
        .dropup-custom>li>a:focus,
        .dropup-custom>li>a:hover {
            color: #262626;
            text-decoration: none;
            background-color: #f4f6f7;
        }
        
        .single-thread-container .dropdown-menu>li>a {
            display: block;
            padding: 3px 5px;
            text-align: center;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        
        .rating ul {
            padding: 0;
            display: inline;
            margin: 0;
        }
        
        .rating li {
            display: inline;
            position: relative;
        }
        
        .rating span.st1::before {
            font-family: "FontAwesome";
            content: "\f005";
            color: #f9560d;
            font-size: 24px;
        }
        
        .rating span.st0::before {
            font-family: "FontAwesome";
            content: "\f005";
            color: rgba(255, 255, 255, 0.6);
            font-size: 24px;
        }
        
        .rating .rate {
            position: relative;
            display: inline-block;
            font-size: 18px;
            padding-left: 10px;
        }
        
        .property-description h2 {
            font-weight: 400;
            color: white;
            font-size: 24px;
        }
        
        a.property-view-detail-toggle {
            color: #000;
            height: 60px;
            line-height: 60px;
            text-decoration: none;
            border-top: none;
            border-left: none;
            border-right: none;
            display: block;
        }
        
        .property-view-detail-toggle .fa {
            color: #f9560d;
            margin-left: 10px;
        }
        
        #full-description {
            display: none;
            background-color: #fff;
            padding: 20px;
            border-bottom: 1px solid #d9e0e3;
        }
        
        #full-description label {
            padding: 0;
            margin: 0;
            color: #f9560d;
            letter-spacing: 1px;
            font-weight: 400;
            text-transform: uppercase;
        }
        
        .cta-button {
            margin: 0 auto;
            position: absolute;
            bottom: 20px;
            text-align: center;
            left: 0;
            right: 0;
        }
        
        .cta-button a {
            display: inline-block;
            width: 100px;
            text-align: center;
            background-color: #fff;
            padding: 10px 15px;
            color: #000;
            text-decoration: none;
            border-radius: 4px;
            margin: 10px;
        }
        
        .cta-button a.active {
            background-color: #f9560d;
            color: #fff;
        }
        
        .cta-button a:hover,
        .cta-button a:focus {
            background-color: #f9560d;
            color: #fff;
        }
        /***** SEARCH BOX ***********/
        
        #res_search_box {
            background-color: #f4f6f7;
            padding: 20px;
            position: relative;
            border-top: 1px solid #d9e0e3;
            border-bottom: 1px solid #d9e0e3;
        }
        
        #res_search_box label input#has_img {
            opacity: 0;
            position: absolute;
        }
        
        #res_search_box label {
            cursor: pointer;
        }
        
        #res_search_box label .fa {
            color: rgb(193, 205, 211);
            font-size: 22px;
            padding-top: 13px;
        }
        
        #res_search_box input:checked+.fa {
            color: #f9560d;
        }
        /**** PAGINATION ************/
        
        span.clear,
        span.cf {
            clear: both;
            display: block;
        }
        
        .custom-pagination {
            background-color: #f4f6f7;
        }
        
        .pagenavi {
            padding: 10px 0px;
            width: 300px;
            margin: 0 auto;
        }
        
        .pagenavi ul.pagination {
            display: block;
            padding: 0;
            width: inherit;
            margin: 0 auto;
            list-style: none;
            text-align: center;
        }
        
        .result-page {
            width: 300px;
            margin: 0 auto;
            padding: 10px 20px;
        }
        
        .pagenavi ul.pagination li {
            display: table-cell;
            text-align: center;
        }
        
        .pagenavi .pagination>li>a {
            position: relative;
            padding: 15px 18px 15px 18px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #212b31;
            text-decoration: none;
            background-color: transparent;
            border-bottom: solid 1px #d9e0e3;
            border-top: none;
            border-right: none;
            border-left: none;
            border-radius: 0;
        }
        
        .pagenavi .pagination>.active>a,
        .pagenavi .pagination>.active>a:focus,
        .pagenavi .pagination>.active>a:hover,
        .pagenavi .pagination>li:hover>a {
            border-bottom: solid 1px #f9560d;
            font-weight: bold;
            text-decoration: none;
            color: #f9560d;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
        }
        
        .pagenavi .pagination>li.separator {
            position: relative;
        }
        
        .pagenavi .pagination>li.separator>span {
            position: relative;
            background-color: transparent;
            border: none;
        }
        
        .pagenavi .pagination>li.separator>span::after {
            width: 15px;
            border-top: 1px solid #d9e0e3;
            height: 1px;
            top: -15px;
            content: '';
            left: 5px;
            position: absolute;
            background-color: transparent;
            /* border: none; */
        }
        
        .pagenavi ul li.separator::after {
            content: '';
            width: 50px;
            border-bottom: #d9e0e3 solid 1px;
            background-color: transparent;
            height: 1px;
            position: absolute;
            margin-top: 12px;
            bottom: 0px;
            left: -3px;
        }
        
        .result-page p {
            text-align: left;
        }
        
        .result-page .row>div {
            padding-left: 0;
        }
        
        .result-page ul.result-nav {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .result-page ul.result-nav>li {
            display: inline-block;
            width: 23%;
            text-align: center;
        }
        
        .result-page ul.result-nav>li>a {
            color: #212b31;
        }
        
        .result-page ul.result-nav>li.active>a,
        .result-page ul.result-nav>li:hover>a {
            text-decoration: none;
            color: #f9560d;
        }
        /**** THREAD *****/
        
        .single-thread-container {
            border-top: 1px solid #e1e1e1;
            color: #636364;
            padding: 20px;
        }
        
        .thread-title {
            font-size: 14px;
            font-weight: 400;
        }
        
        .thread-title .thread-number,
        .thread-title .thread-date {
            color: #99a7ad;
            margin: 0 10px;
        }
        
        .thread-title .thread-username {
            color: #52646d;
        }
        
        .thread-title span:first-child {
            margin-left: 0;
        }
        
        .single-thread-container p,
        #real_response p {
            font-size: 14px;
            font-weight: 400;
            color: #52646d;
        }
        
        .dot-nav-thread {
            position: absolute;
            width: 80px;
            right: 20px;
        }
        
        .single-thread-container a.default-link {
            width: auto;
            padding: 5px 7px;
            text-align: center;
            border: 1px solid #CDD4d8;
            display: inline-block;
            text-decoration: none;
            margin: 5px;
            color: #52646D;
            border-radius: 4px;
            box-shadow: 0px 1px 2px rgba(87, 87, 87, 0.1);
        }
        
        .single-thread-container a:hover.default-link,
        .single-thread-container a.active {
            border: 1px solid #f9560d;
            color: #f9560d;
        }
        /****** Response Textarera *******/
        
        #real_response {
            /*display: none;*/
        }
        
        #real_response_checkbox_label {
            position: relative;
        }
        
        #real_response_checkbox_label p {
            font-weight: 400;
            padding-right: 30px;
        }
        
        #real_response label.attachment {
            width: 14%;
            height: 30px;
            background-image: url(../images/attach-file.png);
            background-position: top center;
            display: inline-block;
            font-size: 24px;
            margin: 0;
            background-repeat: no-repeat;
            border-radius: 4px;
            vertical-align: middle;
            cursor: pointer;
            background-size: auto 60px;
        }
        
        #real_response label.attachment:hover {
            background-position: bottom center;
        }
        
        #real_response input.upload-file {
            opacity: 0;
            position: absolute;
            visibility: hidden;
        }
        
        #real_response {
            padding: 20px;
            background-color: #F4F6F7;
        }
        
        #real_response_checkbox {
            display: none;
        }
        
        #real_response_checkbox_label i#res_chkbox {
            background-color: white;
            border: 1px solid #CDD4D8;
            width: 25px;
            height: 23px;
            color: #f9560d;
            position: absolute;
            right: 0;
            text-align: center;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.22);
            top: 0;
            line-height: 22px;
            border-radius: 4px;
            z-index: 1;
        }
        
        textarea#real_response_body {
            width: 100%;
            height: 100px !important;
            border: solid 1px #CDD4D8;
        }
        
        #real_response_body.expand {
            height: 200px !important;
        }
        
        #real_response .fa-expand {
            font-size: 20px;
            cursor: pointer;
            margin: 0 15px;
            color: #A0AAAE;
        }
        
        #real_response .fa-expand.active {
            color: #f9560d;
        }
        
        .response_upload_file {
            padding-top: 5px;
            width: 60%;
        }
        /******* FIXED ON SCROLL STYLES **************/
        
        .sticky-posts {
            display: none;
        }
        
        #detail_and_post {
            position: fixed;
            bottom: 0px;
            width: 100%;
            z-index: 100;
            display: none;
            background-color: rgba(255, 255, 255, 1);
            padding: 20px;
            text-align: center;
            border-top: 1px solid #ccc;
            box-shadow: 0px 0px 5px rgba(84, 84, 84, 0.4);
        }
        
        #detail_and_post .sticky-btns a {
            color: #fff;
            display: inline-block;
            height: 46px;
            line-height: 46px;
            border-radius: 4px;
        }
        
        #detail_and_post .sticky-btns a:first-child {
            background-color: #a0aaae;
            width: 28%;
            margin-right: 5px;
        }
        
        #detail_and_post .sticky-btns a:hover:first-child {
            background-color: #CDD4D8;
        }
        
        #detail_and_post .sticky-btns a#sticky-action-btn {
            background-color: #f9560d;
            width: 68%;
        }
        
        #detail_and_post .sticky-posts {
            position: relative;
            text-align: left;
        }
        
        #detail_and_post .sticky-posts input[type=text] {
            padding: 7px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-right: 5px;
            height: 46px;
            width: 80%;
        }
        
        #detail_and_post .file-upload-left {
            float: left;
            width: 70%;
        }
        
        #detail_and_post .file-upload-send-btn {
            float: right;
            width: 30%;
        }
        
        #detail_and_post input.upload-file {
            opacity: 0;
            position: absolute;
            visibility: hidden;
        }
        
        #detail_and_post .sticky-posts label.attachment {
            width: 14%;
            height: 22px;
            background-image: url(../images/attach-file.png);
            background-position: top center;
            display: inline-block;
            font-size: 24px;
            margin: 0;
            background-repeat: no-repeat;
            border-radius: 4px;
            vertical-align: middle;
            cursor: pointer;
            background-size: auto 46px;
        }
        
        #detail_and_post .sticky-posts label.attachment:hover {
            background-position: bottom center;
        }
        
        #detail_and_post .sticky-posts a:last-child {
            background-color: #f9560d;
            color: #fff;
            text-align: center;
            padding: 0;
            width: 100%;
            height: 46px;
            display: inline-block;
            border-radius: 4px;
            line-height: 46px;
        }
        
        a#close-sticky-inputs {
            position: absolute;
            background-color: #ffffff;
            color: #f9560d;
            cursor: pointer;
            top: -58px;
            right: -10px;
            /* width: auto !important; */
            text-decoration: none;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            cursor: pointer;
            display: block;
            text-align: center;
            line-height: 35px;
            font-weight: 700;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
        }
        /* main_headline_plural.tt*/
        
        #thread_headline #headline center a.text-link {
            color: #4a90e2;
            padding: 2px 8px;
            border: 1px solid #4a90e2;
            border-radius: 4px;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            margin: 10px 0;
        }
        
        #thread_headline .cta-btn a {
            background-color: #7d7d7c;
            color: #fff;
            padding: 10px;
            text-decoration: none;
            border-radius: 4px;
            width: 30%;
            display: inline-block;
            border: none;
            margin: 5px 0 20px 0;
        }
        
        #thread_headline .cta-btn a:last-child {
            background-color: #4a90e2;
            color: #fff;
        }
        /* MAIL WIND Styles */
        
        .mail_wind {
            background-color: #e7e7de;
            padding: 10px;
            box-sizing: border-box;
        }
        
        .mail_wind h2 {
            font-size: 16px;
            line-height: 1em;
            font-weight: normal;
            margin: 0 0 10px 0;
            color: #333;
        }
        
        .mail_wind a {
            text-align: right;
            font-size: 14px;
            text-decoration: underline;
            display: block;
            color: #eb6106;
        }
        
        #mail_wind_n {
            margin: 0 0 10px;
        }
        
        #mail_wind_n input[type=email] {
            box-sizing: border-box;
        }
        
        #mail_wind_n .margin-bottom-sm {
            margin-bottom: 10px !important;
        }
        
        #mail_wind_n .input-group {
            position: relative;
            display: table;
            border-collapse: separate;
        }
        
        #mail_wind_n .input-group-addon:first-child {
            border-right: 0;
        }
        
        #mail_wind_n .input-group .form-control:first-child,
        #mail_wind_n .input-group-addon:first-child,
        #mail_wind_n .input-group-btn:first-child>.btn,
        #mail_wind_n .input-group-btn:first-child>.btn-group>.btn,
        #mail_wind_n .input-group-btn:first-child>.dropdown-toggle,
        #mail_wind_n .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),
        #mail_wind_n .input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        
        #mail_wind_n .input-group-addon {
            padding: 6px 12px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1;
            color: #555;
            text-align: center;
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
        #mail_wind_n .input-group-addon,
        #mail_wind_n .input-group-btn {
            width: 1%;
            white-space: nowrap;
            vertical-align: middle;
        }
        
        #mail_wind_n .input-group-addon,
        #mail_wind_n .input-group-btn,
        #mail_wind_n .input-group .form-control {
            display: table-cell;
        }
        
        #mail_wind_n .input-group .form-control:last-child,
        #mail_wind_n .input-group-addon:last-child,
        #mail_wind_n .input-group-btn:last-child>.btn,
        #mail_wind_n .input-group-btn:last-child>.btn-group>.btn,
        #mail_wind_n .input-group-btn:last-child>.dropdown-toggle,
        #mail_wind_n .input-group-btn:first-child>.btn:not(:first-child),
        #mail_wind_n .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        
        #mail_wind_n .input-group-addon,
        #mail_wind_n .input-group-btn,
        #mail_wind_n .input-group .form-control {
            display: table-cell;
        }
        
        #mail_wind_n .input-group .form-control {
            position: relative;
            z-index: 2;
            float: left;
            width: 100%;
            margin-bottom: 0;
        }
        
        #mail_wind_n .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        
        #mail_wind_n input,
        #mail_wind_n button,
        #mail_wind_n select,
        #mail_wind_n textarea {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }
        
        #mail_wind_n input {
            line-height: normal;
        }
        
        #mail_wind_n button,
        #mail_wind_n input,
        #mail_wind_n optgroup,
        #mail_wind_n select,
        #mail_wind_n textarea {
            color: inherit;
            font: inherit;
            margin: 0;
        }
        
        #mail_wind_n .radios input {
            display: none;
        }
        
        #mail_wind_n .radios label {
            display: block;
            float: left;
            cursor: pointer;
            width: 80px;
            padding: 7px;
            background: #bdc3c7;
            color: #495054;
            font-size: 16px;
            text-align: center;
            line-height: 1;
            transition: .2s;
            border-right: solid 1px #ccc;
        }
        
        #mail_wind_n .radios label:first-of-type {
            border-radius: 3px 0 0 3px;
            margin: 0;
        }
        
        #mail_wind_n .radios label:last-of-type {
            border-radius: 0 3px 3px 0;
            border: none;
        }
        
        #mail_wind_n .radios input[type="radio"]:checked+.switch-on {
            background-color: #ff6600;
            color: #fff;
        }
        
        #mail_wind_n .radios input[type="radio"]:checked+.switch-off {
            background-color: #ff6600;
            color: #fff;
        }
        
        #mail_wind_n .btn-primary,
        #mail_wind_n .btn-success,
        #mail_wind_n .btn-warning,
        #mail_wind_n .btn-danger,
        #mail_wind_n .btn-info {
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        }
        
        #mail_wind_n .btn {
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
        }
        
        #mail_wind_n .btn-primary {
            color: #fff;
            background-color: #4a90e2;
            border-color: #2e6da4;
        }
        
        #mail_wind_n .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 4px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        #mail_wind_n .radios {
            float: left;
        }
        
        #mail_wind_n button {
            float: right;
        }
        /* FINDING NEARBY */
        
        #findingNearBy_sticky {
            display: none;
        }
        
        #findingNearBy_sticky {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 3;
            background-color: rgba(255, 255, 255, 1);
        }
        
        .finding_nearby {
            padding: 20px;
        }
        
        .finding_nearby h2 {
            font-size: 15px;
            margin: 5px 0;
            color: #9b9b9b;
        }
        
        .finding_nearby a.checkbox_trigger {
            background-color: #fff;
            color: #000;
            padding: 10px;
            text-decoration: none;
            border-radius: 4px;
            width: 33%;
            display: inline-block;
            border: 1px solid #cdd4d8;
            text-align: center;
        }
        
        .finding_nearby a:hover.checkbox_trigger,
        .finding_nearby a:active.checkbox_trigger {
            border: 1px solid #a0aaae;
        }
        
        .finding_nearby a.nearby_information {
            background-color: #f9560d;
            color: #fff;
            padding: 10px;
            text-decoration: none;
            border-radius: 4px;
            width: 63%;
            text-align: center;
            display: inline-block;
            border: none;
        }
        /* Recommended Property */
        
        .recommended_property {
            height: auto;
        }
        
        .recommended_property,
        .current_showcase_property {
            position: relative;
            width: 100%;
            color: #fff;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
        }
        
        .current_showcase_property {
            height: 120px;
        }
        
        .recommended_property .recommended_img,
        .current_showcase_property .recommended_img {
            width: 100%;
            z-index: -1;
            height: inherit;
            position: absolute;
        }
        
        .recommended_property img,
        .current_showcase_property img {
            position: absolute;
            width: 100%;
            top: -20%;
            -webkit-transition: all 0.5s linear;
            transition: all 0.5s linear;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        
        .recommended_property.current_property,
        .current_showcase_property {
            height: 200px;
        }
        
        .recommended_property.current_property img,
        .current_showcase_property img {
            top: 0;
            width: auto;
            height: 100%;
        }
        
        .recommended_property.current_property .checkbox,
        .current_showcase_property .checkbox {
            padding: 5px 0 170px 0;
        }
        
        .recommended_property:hover img {
            -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1);
        }
        
        .recommended_property h1.recommended_title,
        .current_showcase_property h1.recommended_title {
            color: #fff;
            font-size: 18px;
            margin: 5px 0;
            float: left;
        }
        
        .recommended_property .price,
        .current_showcase_property .price {
            float: right;
            padding: 0 0 0 5px;
            font-size: 12px;
        }
        
        .recommended_property .checkbox,
        .current_showcase_property .checkbox {
            padding: 0;
            margin-bottom: 0;
        }
        
        .recommended_property .checkbox input,
        .current_showcase_property .checkbox input {
            margin: 0;
            display: none;
        }
        
        .recommended_property .checkbox input:checked+label .box,
        .current_showcase_property .checkbox input:checked+label .box {
            background: #5196e6;
            cursor: pointer;
        }
        
        .recommended_property .checkbox input:checked+label .box i,
        .current_showcase_property .checkbox input:checked+label .box i {
            -webkit-transition-duration: 150ms;
            transition-duration: 150ms;
            opacity: 1;
        }
        
        .recommended_property .checkbox label,
        .current_showcase_property .checkbox label {
            cursor: pointer;
            padding-left: 0;
        }
        
        .recommended_property .checkbox label .box,
        .current_showcase_property .checkbox label .box {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            position: relative;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            -webkit-transition: background 300ms ease;
            transition: background 300ms ease;
        }
        
        .recommended_property .checkbox label .box:hover,
        .current_showcase_property .checkbox label .box:hover {
            background: rgba(255, 255, 255, 0.3);
        }
        
        .recommended_property .checkbox label .box i,
        .current_showcase_property .checkbox label .box i {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            display: inline-block;
            opacity: 0.3;
            pointer-events: none;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
            -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
        }
        
        .recommended_property .links,
        .current_showcase_property .links {
            display: block;
            right: 20px;
            position: absolute;
            bottom: 20px;
        }
        /* Property Detail Table Styles */
        
        .table-style {
            width: inherit;
            margin: 15px 10px;
            border: 1px solid #EFEFEF;
        }
        
        .table-style th.bild_overview_th {
            padding: 10px;
            vertical-align: top;
            background-color: #7d7d7c;
            color: white;
        }
        
        .table-style .bild_title_td {
            background-color: #F5F5F5;
            font-weight: 700;
        }
        
        .table-style .bild_overview_td {}
        
        .table-style td.bild_title_td,
        .table-style .bild_overview_td {
            padding: 8px 10px;
            vertical-align: top;
        }
        
        .table-style td {
            border-bottom: 1px solid #EFEFEF;
        }
        /*
.bild_overview_th {
	font-size: 0.9em;
	border-bottom: 0.1em solid #D1D1D1;
	padding: 5px;
	text-align: left;
	background-color: #D8D8D8;
}
.bild_overview_td_lavel {
	border-bottom: 0.5px solid #D1D1D1;
	padding: 5px;
	width: 30%;
	margin: 3px;
}
.bild_overview_sub {
	margin: 2px;
	background-color: #F2F2F2;
	width: 100%;
	height: 100%;
}
.bild_overview_sub_td {
	padding: 5px;
	font-size: 0.9em;
	vertical-align: top;
	font-weight: normal;
}
.bild_overview_td {
	border-bottom: 0.5px solid #D1D1D1;
	font-size: 0.9em;
	font-weight: normal;
}
.bild_overview_td {
	border-bottom: 0.5px solid #D1D1D1;
	padding: 5px;
}
*/
        /* TrackWind */
        
        #trackwind {
            margin: 0;
            padding: 0px 10px;
            font-size: 100%;
            font-size: 12px;
            line-height: 200%;
        }
        
        #trackwind p {
            margin: 0 0 10px;
        }
        
        #trackwind ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        
        #trackwind ul a {
            color: #eb6106;
            text-decoration: underline;
        }
        
        #trackwind .pwb a {
            color: #ccc;
            font-size: 10px;
            text-decoration: none;
        }
        
        dl#link_site {
            margin: 0 10px 10px;
            padding: 10px;
            font-size: 80%;
            border: #777 solid 1px;
        }
        
        dl#link_site dt {
            width: 100px;
            display: inline;
            color: #777;
            margin-right: 10px;
        }
        
        dl#link_site dd {
            width: 170px;
            text-align: center;
            display: inline;
        }
        
        dl#link_site dd a {
            margin-right: 10px;
            text-decoration: underline;
            color: #4a90e2;
        }
        /* BreadCrums */
        
        #head_pankuzu {
            overflow: auto;
            margin: 0 0 10px 0;
        }
        
        #head_pankuzu .tpl_pankuzu {
            font-size: 12px;
            margin: 0 0 0 10px;
            white-space: nowrap;
            list-style: none;
            padding-left: 0;
            width: 2000px;
        }
        
        .tpl_pankuzu li {
            display: inline;
            line-height: 20px;
            line-height: 1em;
            float: left;
        }
        
        .tpl_pankuzu li.arrow {
            background: url(https://m.e-mansion.co.jp/img/pankuzu/chevron.gif) no-repeat right center;
            width: 5px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            display: block;
            float: left;
        }
        
        .tpl_pankuzu li a {
            display: inline-block;
            text-decoration: none;
            color: #777;
            padding: 4px 0px;
            font-size: 12px;
            line-height: 1em;
        }
        /* Footer Styles */
        
        #footer {
            background: #f60;
            font-size: 80%;
        }
        
        #footer ul {
            text-align: center;
            display: block;
            margin: 0 auto;
            color: #fff;
        }
        
        #footer ul li {
            display: inline;
            margin-right: 5px;
        }
        
        #footer ul li a {
            margin-right: 5px;
            color: #fff;
            text-decoration: underline;
        }
        
        #footer p {
            color: #777;
            background-color: white;
            font-size: 90%;
            text-align: center;
        }
        /*********** MEDIA QUERIES *************/
        
        @media screen and (max-width:326px) {
            form#search-form button[type=submit] {
                margin: 0;
                padding: 0;
            }
        }
        
        @media screen and (max-width:390px) {
            .pagenavi {
                padding: 10px 0px;
            }
        }